<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833761622900-a417ae382ovkp36l9cik0bu3949523en.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833761622900-a417ae382ovkp36l9cik0bu3949523en</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>833761622900-6ujej8jd54v9ed7ivksi30e521r3c3ja.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCd35rzE4rEghi-M4V2RRYVLJUWuNvhWcY</string>
	<key>GCM_SENDER_ID</key>
	<string>833761622900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>my.com.lcsb.mylcsb</string>
	<key>PROJECT_ID</key>
	<string>mylcsb</string>
	<key>STORAGE_BUCKET</key>
	<string>mylcsb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833761622900:ios:851d85ebcd83bfa95fca21</string>
</dict>
</plist>